sycon_cluster_analyses/00_input/genomic_data/*
sycon_cluster_analyses/00_input/Matt_sycon_SAMap/*
sycon_cluster_analyses/00_input/Scil_GCF.964019385.1/*
sycon_cluster_analyses/00_input/scRNAseqs_rawTables/*
sycon_cluster_analyses/00_input/scRNAseqs_rawTables/*
sycon_cluster_analyses/00_input/Sycon.ReAnno*
sycon_cluster_analyses/00_input/Sycon.ReAnno.h5ad
sycon_cluster_analyses/00_input/Sycon_Seuratv4.Rdata
sycon_cluster_analyses/00_input/Tadh_monoaminergicSequences.fasta
sycon_cluster_analyses/01*/*
sycon_cluster_analyses/02_busco/*
sycon_cluster_analyses/03_pairwise_diamond/*
sycon_cluster_analyses/04_preprocessed_scRNAseqs/*
sycon_cluster_analyses/05a_SAMap_realSyconClusters/*
sycon_cluster_analyses/05b_SAMap_recodedSyconClusters/*
sycon_cluster_analyses/05_SAMap/*
sycon_cluster_analyses/06_variousPathway_genes/*
sycon_cluster_analyses/07_notable_genes/*
sycon_cluster_analyses/bash scripts/02_tidy_genomic_data.sh
sycon_cluster_analyses/busco*
sycon_cluster_analyses/FindAllMarkers_placozoa.R
sycon_cluster_analyses/gene_pairs_SAMap/*
sycon_cluster_analyses/gene_pairs_SAMap.tar.gz
sycon_cluster_analyses/genomes_not_ncbi/*
sycon_cluster_analyses/Matt_sycon_SAMap/*
sycon_cluster_analyses/placo_*
sycon_cluster_analyses/*png
sycon_cluster_analyses/precompiled_softwares/SAMap
sycon_cluster_analyses/.Rhistory
sycon_cluster_analyses/slurm-339*
sycon_cluster_analyses/*tmp*
sycon_cluster_analyses/TOM/*
sycon_cluster_analyses/08_bonsai*
sycon_cluster_analyses/09_gene_annotation/*
sycon_cluster_analyses/1*/*
spongilla_remapping/01_raw_reads/*
spongilla_remapping/matts_transcriptome/*
spongilla_remapping/03_slac_remapped_clustering/*
spongilla_remapping/01_raw_reads/*
spongilla_remapping/04_SAMap/*
spongilla_remapping/map_star_tmp.sh
spongilla_remapping/run_peaks2utr.sh
spongilla_remapping/02a_cellranger_count/*
spongilla_remapping/04_SAMap_withMattsTranscriptome/*
spongilla_remapping/matts_transcriptome/*
spongilla_remapping/02b_peaks2utr/*
spongilla_remapping/*busco*
spongilla_remapping/slurm*
spongilla_remapping/.log/*
spongilla_remapping/precompiled_softwares/peaks2utr/*
spongilla_remapping/02c_cellranger_count/*
sycon_cluster_analyses/05_SAMap_porifera/*
sycon_cluster_analyses/05*tar.gz
sycon_cluster_analyses/01_proteomes
sycon_cluster_analyses/02_busco
sycon_cluster_analyses/03_pairwise_diamond
sycon_cluster_analyses/04_preprocessed_scRNAseqs
sycon_cluster_analyses/00_input/Scil_protein.dmnd
sycon_cluster_analyses/07_notableGenes_clusterAnnotation/*
sycon_cluster_analyses/ESFS/*
sycon_cluster_analyses/ESFS
spongilla_remapping/05_hdWGCNA/*
*tmp*
sycon_cluster_analyses/orthogroup_analysis.tsv.txt
sycon_cluster_analyses/SAMap_cnipor.sh
sycon_cluster_analyses/orthogroup_analysis.tsv
*.log
*slurm*
*05NEW*
./pinacocytes_markers.dmnd
./00_input/pinacocytes_markers.faa
./00_input/sycon_capricorn_markers.fna
sycon_cluster_analyses/pinacocytes_markers.dmnd
sycon_cluster_analyses/00_input/pinacocytes_markers.faa
sycon_cluster_analyses/00_input/sycon_capricorn_markers.fna
*correspondence_clusters_s*
sycon_cluster_analyses/20_cluster_composition/*
sycon_cluster_analyses/00_input/Scil.h5ad
sycon_cluster_analyses/00_input/in_paralogs.tsv
spongilla_remapping/00_input/slac_genome_BACKUP/*
sycon_cluster_analyses/precompiled_softwares/*
sycon_cluster_analyses/00_input/slac_genome_genename_conversion.ls
